{% extends "todo_app/base.html" %}

{% block title %}
  ABOUT PAGE
{% endblock title %}

{% block content %}
<div class="bg-light p-5 rounded shadow-sm">
  <div class="container text-center">
    <h1 class="display-4 mb-4">About</h1>
    <p class="lead">This is a To-Do list built with Python & Django.</p>
    <p class="lead">You can use this To-Do List in your Django projects.</p>
    <p class="fs-5 text-muted">This project is an example application developed as part of my learning and practice with Django and Python.</p>
    <div class="mt-5">
      <a class="btn btn-success btn-lg" href="{% url 'index' %}">Home Page</a>
    </div>
  </div>
</div>
{% endblock content %}
