{% extends "todo_app/base.html" %}

{% block title %}
  {{ category.name }} PAGE
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Tasks in the Category:  {{ category.name }}</h2>

    <div class="text-center mb-3">
        <a href="{% url 'add_todo_to_category' category.id %}" class="btn btn-success">Add To-Do</a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">To-Do Name</th>
                <th scope="col">Is Finished?</th>
                <th scope="col">DeadLine</th>
                <th scope="col">Update</th>
                <th scope="col">Finished Date</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo_list %}
                {% if todo.finished %}
                    <tr>
                        <td><a class="btn btn-primary" href="{% url 'description' todo.id %}" role="button">{{ todo.title }}</a></td>
                        <td><a class="btn btn-success" href="{% url 'yes_finish' todo.id %}" role="button">Yes</a></td>
                        <td>{{ todo.deadline }}</td>           
                        <td><a class="btn btn-warning" href="{% url 'update' todo.id %}" role="button">Update</a></td>
                        <td>{{ todo.finished_date }}</td>
                        <td><a class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">Delete</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a class="btn btn-primary" href="{% url 'description' todo.id %}" role="button">{{ todo.title }}</a></td>
                        <td><a class="btn btn-warning" href="{% url 'no_finish' todo.id %}" role="button">No</a></td>
                        <td>{{ todo.deadline }}</td>
                        <td><a class="btn btn-warning" href="{% url 'update' todo.id %}" role="button">Update</a></td>
                        <td>{{ todo.finished_date }}</td>
                        <td><a class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">Delete</a></td>
                    </tr>
                {% endif %}
            {% empty %}
                <tr><td colspan="6">There are no tasks in this category yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-3">
        <a class="btn btn-outline-primary" href="{% url 'index' %}" role="button">Home Page</a>
    </div>

    <div class="text-center mt-3">
        <form method="POST" action="{% url 'delete_category' category.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kategoriyi silmek istediğinize emin misiniz?')">Delete Category</button>
        </form>
    </div>
</div>
{% endblock %}
