
{% extends "todo_app/base.html" %}

{% block title %}
  CREATE PAGE
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">TO-DO LIST</h1>
    <p class="lead text-center">This is To-Do list for Python Django Web Development</p>

    <form method="POST">
      {% csrf_token %}

      <div class="form-group row mt-3">
        <label class="col-sm-2 col-form-label">To-Do Title</label>
        <div class="col-sm-10">
          <input type="text" name="title" class="form-control" value="{{ form.title.value|default_if_none:'' }}">
        </div>
      </div>

      <div class="form-group row mt-3">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input type="text" name="description" class="form-control" value="{{ form.description.value|default_if_none:'' }}">
        </div>
      </div>

      <div class="form-group row mt-3">
        <label class="col-sm-2 col-form-label">Deadline</label>
        <div class="col-sm-10">
          <input type="datetime-local" name="deadline" class="form-control" value="{{ form.deadline.value|date:'Y-m-d\TH:i' }}">
        </div>
      </div>

      <div class="form-group row mt-3">
        <label class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-10">
          <select name="category" class="form-select">
            {% for cat in form.fields.category.queryset %}
              <option value="{{ cat.id }}" {% if form.category.value|stringformat:"s" == cat.id|stringformat:"s" %}selected{% endif %}>{{ cat.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group row mt-3 ">
    <label class="col-sm-2 col-form-label" for="id_is_private">Is Private</label>
        <div class="col-sm-10">
            <div class="form-check ">
                <input class="form-check-input" type="checkbox" name="is_private" {{ form.is_private }}>
                <label class="form-check-label" for="id_is_private">Only visible to me</label>
            </div>
        </div>
    </div>


      <div class="form-group row mt-3">
        <label class="col-sm-2 col-form-label">Is Finished?</label>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="finished" {% if form.finished.value %}checked{% endif %}>
            <label class="form-check-label">Yes</label>
          </div>
        </div>
      </div>

      <div class="form-group row mt-4">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-success">Add to List</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
