
{% extends "todo_app/base.html" %}

{% block title %}
    Task Detail PAGE
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-center">{{ todo.title }}</h1>
            <p class="card-text">{{ todo.description }}</p>

            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item"><strong>Create Date:</strong> {{ todo.date }}</li>
                <li class="list-group-item"><strong>Deadline:</strong> {{ todo.deadline }}</li>
                <li class="list-group-item">
                    <strong>Is Finished?:</strong>
                    {% if todo.finished %}
                        <a class="btn btn-success btn-sm ms-2" href="{% url 'yes_finish' todo.id %}">Yes</a>
                    {% else %}
                        <a class="btn btn-danger btn-sm ms-2" href="{% url 'no_finish' todo.id %}">No</a>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <strong>Finished at:</strong>
                    {% if todo.finished_date %}
                        {{ todo.finished_date }}
                    {% else %}
                        Not finished yet
                    {% endif %}
                </li>
            </ul>

            <div class="text-center mt-4">
                <a class="btn btn-warning me-2" href="{% url 'update' todo.id %}">Update</a>
                <a class="btn btn-danger me-2" href="{% url 'delete' todo.id %}">Delete</a>
                <a class="btn btn-primary" href="{% url 'index' %}">Back to List</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
